*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #353535;
    color: #ffffff;
    line-height: 1.6;
}
.title{
    font-size: 1.5em;
    color: white; /* Texto blanco para contraste */
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra para legibilidad */
    flex: 1; /* Permite que el título use todo el espacio disponible */
   
}
a{
        text-decoration: none;
        color: white;
    }

img{
    max-width: 400px;
    height: auto;
}

.car-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Ajusta la altura según sea necesario */}

.car-card{
    display: flex;
    gap: 20px;
    background-color: #444;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.car-name{
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;  
    color: cadetblue;
}

.car-data button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.car-data button:hover{
    background-color: #0056b3;
}