.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    > div:last-child {
        width: 80px;
        visibility: hidden;
    }
}

#title {
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    flex: 1;
}

.menu-button {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    svg {
        fill: white;
        margin-right: 5px;
    }

    p {
        color: white;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }
}
